<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>FECHA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuairo of usuarios; let i = index;">
        <td>{{ i +1}}</td>
        <td>
            <span *ngIf="!usuairo.name">
              <input type="text" class="form-control" id="itemName" placeholder="Ingrese Nombre" name="itemName" [(ngModel)]="usuairo.name"
                #itemName="ngModel">
            </span>
            <span *ngIf="usuairo.name"> {{usuairo.name}} </span>
          </td>
        <td>
          <span *ngIf="!usuairo.email">
            <input type="text" class="form-control" id="itemEmail" placeholder="Ingrese Email" name="itemEmail" [(ngModel)]="usuairo.email"
              #itemEmail="ngModel">
          </span>
          <span *ngIf="usuairo.email"> {{usuairo.email}} </span>
        </td>
        <td>
            <span *ngIf="!usuairo.fecha">
              <input type="text" class="form-control" id="itemFecha" placeholder="Ingrese Fecha" name="itemFecha" [(ngModel)]="usuairo.fecha"
                #itemFecha="ngModel">
            </span>
            <span *ngIf="usuairo.fecha"> {{usuairo.fecha}} </span>
          </td>
      </tr>
    </tbody>
  </table>
</div>