<!--The content below is only a placeholder and can be replaced.-->
<header>
  <a [routerLink]="['/']"> </a>
</header>
<div style="text-align:center">

  <!--login-->
  <div *ngIf="viewMain == false && registrando == false">
    <div class="container">
      <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" #loginForm="ngForm">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" placeholder="Email address"
            required autofocus>
          <input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password" #password="ngModel"
            placeholder="Password" required>
          <div id="remember" class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login(user)" [disabled]="!loginForm.form.valid">Sign in</button>
        </form>
        <button class="btn btn-lg btn-dark btn-block btn-signin" type="button" (click)="registro()">Registro</button>
        <a href="#" class="forgot-password">
          Forgot the password?
        </a>
        <div *ngIf="messangeError">
          <p>{{messangeError}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="viewMain == false && registrando == true">
    <div class="container">
      <div class="card card-container">
        <form class="form-signin" #registroForm="ngForm">
          <input type="name" id="name" [(ngModel)]="user.name" name="name" #name="ngModel" class="form-control" placeholder="Name"
            required autofocus>
          <input type="email" id="email" [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control" placeholder="Email address"
            required autofocus>
          <input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password" #password="ngModel"
            placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="setUsuario(user)" [disabled]="!registroForm.form.valid">Registro</button>
        </form>
        <div *ngIf="messangeError">
          <p>{{messangeError}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--end login-->

  <!--menu-->
  <div *ngIf="viewMain == true">
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar" class="active">
        <div class="sidebar-header">
          <a href="/">Bootstrap</a>
          <strong>BS</strong>
        </div>

        <ul class="list-unstyled components">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-home"></i>
              Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-briefcase"></i>
              About
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-copy"></i>
              Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="#">Page 1</a>
              </li>
              <li>
                <a href="#">Page 2</a>
              </li>
              <li>
                <a href="#">Page 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog"></i>
              confing
            </a>
          </li>
        </ul>
      </nav>
      <!--end side menu -->

      <!-- Page Content  -->
      <div id="content">
        <!--navbar -->
        <div class="pos-f-t">
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" id="sidebarCollapse" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item active" href="#">Login</a>
                <a class="dropdown-item " href="/perfil">Perfil</a>
                <a class="dropdown-item" href="#" (click)="logout()">logout</a>
              </div>
            </div>
          </nav>
        </div>
        <!--end navbar -->

        <!--contenido-->
        <div text-center class="container-fluid">
          <!--Contenido-->
          <router-outlet></router-outlet>
        </div>
        <!--end contenido-->

        <!--footer-->
        <footer class="container-fluid text-center " style="position: absolute; bottom: 0%;">
          <p>Alex Ortega</p>
        </footer>
        <!--end footer-->

      </div>
    </div>
  </div>
  <!--end menu-->
</div>