<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <!--login-->
  <div *ngIf="login == false">
    <div class="container">
      <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin">
          <span id="reauth-email" class="reauth-email"></span>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <div id="remember" class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login = !login">Sign in</button>
        </form>
        <a href="#" class="forgot-password">
          Forgot the password?
        </a>
      </div>
    </div>
  </div>
  <!--end login-->

  <!--menu-->
  <div *ngIf="login == true">
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Bootstrap Sidebar</h3>
          <strong>BS</strong>
        </div>

        <ul class="list-unstyled components">
          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-home"></i>
              Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-briefcase"></i>
              About
            </a>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
              <i class="fas fa-copy"></i>
              Pages
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="#">Page 1</a>
              </li>
              <li>
                <a href="#">Page 2</a>
              </li>
              <li>
                <a href="#">Page 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog"></i>
              confing
            </a>
          </li>
        </ul>
      </nav>
      <!--end side menu -->

      <!-- Page Content  -->
      <div id="content">
        <!--navbar -->
        <div class="pos-f-t">
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" id="sidebarCollapse" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item active" href="#">Login</a>
                <a class="dropdown-item " href="#">Perfil</a>
                <a class="dropdown-item" href="#" (click)="login = !login">logout</a>
              </div>
            </div>
          </nav>
        </div>
        <!--end navbar -->

        <!--contenido-->
        <div text-center class="container-fluid">
          Contenido
        </div>
        <!--end contenido-->
      </div>
    </div>
  </div>
  <!--end menu-->
</div>